* {
	box-sizing: border-box;
}

body {
	color: #444;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

header, nav, main, footer  {
	width: 100%;
}

.logo {
	font-size: 50px;
	font-weight: normal;
    display: inline;
}

.logo2 {
	font-size: 22px;
	font-weight: normal;
    color: #888;
    padding-left: 30px;
}

/*** nav-main, ul, li, a ***/
a {
	color: #d00;
	text-decoration: none;
	-webkit-transition: all 300ms;
}

a:hover {
	color: #a00;
}

/*** Footer nav is included here ***/
.nav-main, .nav-footer {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*** Footer nav is included here ***/
.nav-main li, .nav-footer li {
	display: inline-block;
}

.nav-main li {
	float: left;
    width: 16.667%;
    margin: 0;
    padding: 0;
}

.nav-main a {
	background: black;
	display: block;
	color: white;
	padding: 15px;
	border-right: 1px solid white;
	text-align: center;
	margin-bottom: 40px;
}

.nav-main a:hover {
	background: #900;
}


/*** Float Section ***/
.float-wrapper {
	width: 100%;
}

/*** Float left (article) ***/
.float-left {
	float: left;
	width: 66%;
}

.date {
	font-size: 32px;
	color: #ccc;
}

.title {
	font-size: 36px;
	font-weight: normal;
	color: black;
	margin: 0;
    padding: 0;
}

.title a {
	color: inherit;
}

.title a:hover {
	color: #d00;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

.more-link {
	font-size: 16px;
	font-weight: bold;
	text-align: right;
}

.big-letter p:first-letter {
	float: left;
    font-size: 105px;
    color: #ddd;
    margin: -38px 5px -30px -10px;
}

.line-left {
	border-bottom: 1px solid #ddd;
	margin: 5px 0 50px;
    padding-bottom: 30px;
}

/*** Float right (aside) ***/
.float-right {
	float: right;
	width: 29%;
	color: #888;
	margin-top: 50px;
}

aside h1 {
	font-size: 20px;
}

.ad {
	margin: "auto";
}

.line-right {
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}

.top-padding {
	padding-top: 20px;
}


/*** End of Float Section ***/

footer {
	clear: both;
	color: #bbb;
}

.nav-footer a {
	font-size: 15px;
	border-right: 1px solid #bbb;
    padding: 0 5px;
}

.nav-footer a.last-nav {
	border-right: none;
}

.copyright {
	font-size: 15px;
}
